---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="max-w-lg flex flex-col flex-wrap justify-center mx-auto py-7">
        <h3>Quienes somos?</h3>
        <p>
            Tenemos Para Pineda Leiva y CIA LTDA, el servicio a nuestros
            clientes es el capital más importante. Destacando nuestro servicio
            al cumplimiento de objetivos de una manera dinámica y con la
            flexibilidad para entender las diferentes necesidades de nuestros
            clientes. Contamos con un espacio de 100,000 m2 de Terminal
            ferroviaria intermodal e infraestructura auxiliar, 30,000 m2 de
            Bodegas para Almacenaje con vigilancia 24 horas, 365 días, CCTV,
            barda perimetral.
        </p>
        <br />

        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad
            voluptates aut aspernatur odit minus odio iste ullam alias quibusdam
            non? Consequuntur odit, minus illum praesentium suscipit quod
            aspernatur repellendus accusantium ab ipsum incidunt ex eius
            similique natus laborum assumenda facere blanditiis aperiam. Debitis
            eligendi perspiciatis architecto fuga molestiae nobis aut minus
            temporibus vel iste quis voluptatem distinctio, delectus ipsa ullam
            praesentium aspernatur quasi enim beatae dolor velit consequatur
            animi. Architecto, incidunt sint. Corrupti omnis velit amet
            doloribus, necessitatibus, perspiciatis officiis eius rem est fugiat
            fuga minima nisi labore sit. Delectus mollitia, est molestias harum
            fugiat, voluptas vero sunt voluptatum amet quibusdam obcaecati
            labore dolor. Rem sint alias tempore ducimus voluptate aperiam
            fugiat officia quis optio, eligendi, sed natus nihil dolore deleniti
            pariatur enim dolorem autem eius? Consequuntur dicta sunt quis sit
            suscipit quo corporis quae, impedit consequatur magnam dolores
            necessitatibus dignissimos voluptates fuga officia. Optio beatae
            dicta nobis quam ab enim fugiat, necessitatibus vero excepturi. Odio
            nihil ea eos amet deserunt voluptatum consequuntur natus eaque
            dolorem placeat et tenetur saepe illum architecto ipsa repellendus
            rerum veritatis nulla, cum labore, nobis autem itaque, nam dolore?
            Expedita, quaerat. Omnis minima accusamus voluptate praesentium
            modi. Laudantium nihil ullam tenetur, odio nisi quasi explicabo
            similique? Error voluptates laboriosam vel, beatae, quo dolore sequi
            in suscipit modi earum accusamus explicabo doloremque. Perspiciatis
            voluptas illum qui dolorum nobis laborum inventore omnis. Maxime,
            aut eveniet? Tempore doloribus, voluptatem dolorem esse odio sunt
            officiis saepe quae numquam inventore accusamus natus cumque, porro
            adipisci deleniti perferendis atque consequuntur temporibus sint.
            Consequatur natus sapiente voluptates atque provident incidunt
            recusandae eos error perferendis, nam sit dolorum suscipit obcaecati
            aliquid repellat laboriosam unde nobis libero ad ex eius modi fugit
            distinctio. Aspernatur error modi similique doloribus nihil at
            debitis quae aliquam quod, suscipit soluta itaque odit qui fugiat
            quidem sapiente? Quos, cupiditate assumenda delectus ipsa officiis
            numquam ratione iusto illo impedit, iste aut praesentium explicabo
            cumque distinctio ea soluta dolorum animi veniam a saepe quia labore
            ducimus sint. Laudantium modi soluta repudiandae aliquam dicta optio
            ullam nulla vero cupiditate excepturi quis nobis natus, ad corrupti
            maiores deserunt sunt quas deleniti corporis amet dignissimos
            voluptatibus ratione. Molestias quidem nostrum, tenetur, voluptatem
            illo unde porro doloribus incidunt minus doloremque quos corporis
            voluptas molestiae culpa ex aspernatur perferendis. Commodi ducimus
            quod asperiores possimus repellat eos est voluptates quasi delectus
            eligendi illo modi unde dolorem voluptas, sequi cum accusamus
            magnam. Recusandae earum illo iste corporis voluptatum?
        </p>
    </div>
</Layout>
