<div class="max-w-20 z-30">
    <img
        class="aspect(25px/19) object-cover"
        src="../../../public/logoPLCIALTDA.webp"
        alt="Logo Pineda Leiva CIA LTDA"
    />
</div>

<style>
    @media (max-width: 300px) {
        div {
            margin: auto;
        }
    }
</style>
